<form [formGroup]="passwordFormGroup">
  <div class="row">
    <div class="form-group col-md-6 password">
      <label for="newPassword" i18n>New password</label>
      <input
        type="{{ showNewPassword ? 'text' : 'password' }}"
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
        placeholder="New password"
        autocomplete="new-password"
        i18n-placeholder
      />
      <img
        (click)="showNewPassword = !showNewPassword"
        src="/assets/svg/{{ showNewPassword ? 'eye-on' : 'eye-off' }}.svg"
        alt=""
      />
      <div
        *ngIf="
          f['newPassword'].invalid &&
          (f['newPassword'].dirty || f['newPassword'].touched)
        "
        class="error"
      >
        <div *ngIf="f['newPassword'].errors?.['pattern']" i18n>
          Password format is not valid.
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          f['newPassword'].dirty &&
          passwordFormGroup.errors &&
          passwordFormGroup.errors['matchError']
        "
      >
        <div>Password does not match</div>
      </div>
    </div>
    <div class="form-group col-md-6 password">
      <label for="confirmPassword" i18n>Repeat new password</label>
      <input
        type="{{ showConfirmPassword ? 'text' : 'password' }}"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirm password"
        autocomplete="new-password"
        i18n-placeholder
      />

      <img
        (click)="showConfirmPassword = !showConfirmPassword"
        src="/assets/svg/{{ showConfirmPassword ? 'eye-on' : 'eye-off' }}.svg"
        alt=""
      />

      <div
        *ngIf="
          f['confirmPassword'].invalid &&
          (f['confirmPassword'].dirty || f['confirmPassword'].touched)
        "
        class="error"
      >
        <div *ngIf="f['confirmPassword'].errors?.['pattern']" i18n>
          Password format is not valid
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          f['confirmPassword'].dirty &&
          passwordFormGroup.errors &&
          passwordFormGroup.errors['matchError']
        "
      >
        <div>Password does not match</div>
      </div>
    </div>
  </div>
</form>
<p i18n>
  Your new password must contain more than 8 characters, numbers and special
  characters.
</p>
