<div class="wrapper">
  <div class="days">
    <div class="inner">
      <div class="numbers">{{ days }}</div>
      <div class="label" i18n>Days</div>
    </div>
  </div>
  <span>:</span>
  <div class="hours">
    <div class="inner">
      <div class="numbers">{{ hours }}</div>
      <div class="label" i18n>Hours</div>
    </div>
  </div>

  <span>:</span>
  <div class="minutes">
    <div class="inner">
      <div class="numbers">{{ min }}</div>
      <div class="label" i18n>Minutes</div>
    </div>
  </div>

  <span>:</span>
  <div class="secounds">
    <div class="inner">
      <div class="numbers">{{ sec }}</div>
      <div class="label" i18n>Seconds</div>
    </div>
  </div>
</div>
