<div class="banner">
  <div class="container wrapper">
    <div class="banner-content">
      <h1 i18n>What Makes our Technology so Unique?</h1>
      <p i18n>
        When we look at your eye image, we can see features that contribute to
        the aging of your body. Our robust AI engine can see so much more.
      </p>
    </div>
    <div class="banner-img">
      <img src="/assets/img/retina.png" alt="" />
      <div class="circle one" i18n>1</div>
      <div class="circle two" i18n>2</div>
      <div class="circle three" i18n>3</div>
      <div class="circle four" i18n>4</div>

      <p i18n>Fundus image of a middle-aged individual with diabetes</p>
    </div>
  </div>
</div>

<div class="container details">
  <div class="each-detail">
    <div class="number" i18n>
      1.
      <h3 class="name" >Blood vessels</h3>
    </div>

    <p i18n>Provides an estimate of your cardiovascular health.</p>
  </div>
  <div class="each-detail">
    <div class="number" i18n>
      2.
      <h3 class="name">Nerve</h3>
    </div>

    <p i18n>Provides insight to your neurological health.</p>
  </div>
  <div class="each-detail">
    <div class="number" i18n>
      3.
      <h3 class="name">Macula</h3>
    </div>

    <p i18n>Helps estimate your rate of ageing and inflammatory health.</p>
  </div>
  <div class="each-detail">
    <div class="number" i18n>
      4.
      <h3 class="name">Image Clarity</h3>
    </div>

    <p i18n>Provides insight to the rate at which your lens is ageing.</p>
  </div>
</div>

<div class="container section-footer">
  <div class="column-first">
    <h2 class="title" i18n>The AI behind our technology</h2>
  </div>
  <div class="description">
    <p i18n>
      We use artificial intelligence (AI) which involves using super-computers
      to recognize patterns, classify, analyze and draw predictions from data.
    </p>
    <p i18n>
      The photo of your eye is passed through our AI engine which has learnt
      patterns from images from over 500,000 eye images (and still counting!) to
      recognize the various features of our eye health through photographs of
      your eye.
    </p>
    <p i18n>
      Analysis is performed at speeds beyond human capability, plus can
      recognize features a human may not be able to perceive.
    </p>
  </div>
</div>
