<div class="banner">
  <div class="container">
    <h1 class="banner-title" i18n>Manage Account</h1>
  </div>
</div>
<div class="container wrapper">
  <h2 class="title" i18n>Edit Personal Details</h2>
  <app-personal-detail-form
    #personalForm
    [personalDetail]="personalDetail"
  ></app-personal-detail-form>
  <button (click)="onSubmit()" class="btn btn-regular extended w-100" i18n>
    Save changes
  </button>
  <div class="actions">
    <p routerLink="/my-profile/reset-password" i18n>Reset password</p>
    <p routerLink="/my-profile/close-account" style="color: #828282" i18n>
      Close my account
    </p>
  </div>
</div>
