.banner {
  height: 82px;
  background-image: url("/assets/img/Rectangle 170.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .banner-title {
    font-family: var(--heading-font-family);
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
  }
}


.wrapper{
  margin: 1rem auto;
  .title{
    font-family: var(--heading-font-family);
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  .btn{
    margin: 10px auto;
  }

  .actions{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    font-family: var(--heading-font-family);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    color: var(--color-secondary);
  }
}
