.container{
  background-color: #fff;
  padding: 1rem 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.section-page-header{
  margin-top: 2rem;
  .page-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin: 2rem 0;
  }
  .page-subtitle{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 1.2rem 0;
  }
}


@media screen and (max-width: 991px) {

}

@media screen and (max-width: 575px) {

}
