.banner {
  // width: 100%;
  // height: 304px;
  // background-image: url("/assets/img/Rectangle 170.png");
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper {
    height: 100%;
    position: relative;

    display: flex;
    justify-content: space-between;
    .banner-content {
      padding-top: 6%;
      h1 {
        font-family: var(--heading-font-family);
        font-size: 60px;
        line-height: 90px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .banner-img {
      position: absolute;
      right: 15%;
      bottom: 0;
    }
  }
}

.grid {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  & > div {
    //background-color: #fff;
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    outline: none;

    .title {
      font-family: var(--heading-font-family);
      font-size: 28px;
      line-height: 34px;
      font-weight: 500;
    }
  }

  .overview {
    grid-column: 1/2;
    ul {
      margin: 0;
      padding: 0;
      li {
        font-family: var(--body-font-family);
        list-style: none;
        .label {
          font-weight: 600;
        }
      }
    }
  }

  .bio-age {
    grid-column: 2 / 4;
    grid-row: 1 / 4;

    h2 {
      margin-bottom: 20px;
    }

    .age-boxes {
      display: flex;
      .box {
        flex-grow: 1;
        padding: 20px;
        border: 1px solid var(--color-border);
        border-radius: 8px;

        .title-wrapper {
          span {
            margin-left: 10px;
            font-size: 16px;
          }
        }

        .circle {
          background: linear-gradient(
            90deg,
            rgba(68, 206, 246, 1) 0%,
            rgba(142, 209, 133, 1) 100%
          );
          height: 20vw;
          width: 20vw;
          max-height: 200px;
          max-width: 200px;

          border-radius: 50%;
          margin: 10px auto;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .inner {
            height: 100%;
            width: 100%;

            transform: scale(0.85);
            border-radius: 50%;
            background-color: var(--color-body);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .age {
              font-family: var(--heading-font-family);
              font-size: 44px;
              font-weight: 500;
              line-height: 52px;
              text-align: center;
            }

            .label {
              font-family: var(--heading-font-family);
              font-size: 18px;
            }
          }
        }
      }
    }

    .age-gap {
      margin: 15px 0;
      padding: 20px;
      border: 1px solid var(--color-border);
      border-radius: 8px;
      display: flex;
      img {
        margin-right: 15px;
        margin-top: 10px;
        align-self: self-start;
      }

      h3 {
        font-family: var(--heading-font-family);
        font-size: 16px;
        line-height: 24px;
      }
      p {
        color: var(--color-primary-light);
        font-size: 12px;
        line-height: 16px;
      }
      .gap {
        font-size: 16px;
        align-self: center;
        .number {
          color: #ff4343;
          font-size: 40px;
          font-weight: 500;
          font-family: var(--heading-font-family);
        }
      }
    }
    button {
      width: 45%;
    }
  }

  .health-recom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    .content {
      display: flex;
      margin: 15px 0;
      img {
        margin-right: 10px;
        align-self: self-start;
      }
      p {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .next-bio-age {
    grid-column: 1/2;
    grid-row: 3/5;
    h2 {
      padding-right: 30%;
    }
  }

  .john-dyk {
    background-image: url("/assets/img/Rectangle 170.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/4;
    grid-row: 4/6;

    p {
      font-size: 14px;
    }

    .three-boxes {
      display: flex;
      .box {
        background: linear-gradient(
          90deg,
          rgba(68, 206, 246, 1) 0%,
          rgba(142, 209, 133, 1) 100%
        );
        padding: 3px;
        border-radius: 8px;
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 1;
        .inner {
          display: flex;
          background-color: var(--color-body);
          border-radius: 6px;
          padding: 10px 12px;
          height: 100%;

          img {
            align-self: flex-start;
            margin-top: 6px;
          }

          p {
            padding-left: 10px;
            margin-bottom: 0;
            font-family: var(--heading-font-family);
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .effect-of-smock {
    grid-column: 2/4;
  }

  .compare-others {
    grid-column: 2/3;
    margin: 0 auto;
    .caption {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: #6c757d;
      text-align: left;
      width: 100%;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .bio-age-progress {
    grid-column: 3/4;

    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    .wrapper {
      display: block;
      .banner-content {
        padding-top: 20px;
        h1 {
          font-weight: 500;
          font-size: 28px;
          line-height: 34px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
        }
      }
      .banner-img {
        height: 190px;
        right: 5%;
      }
    }
  }

  .grid {
    width: 100%;
    margin: 1rem auto;
    grid-template-columns: 100%;
    gap: 20px;
    & > div {
      padding: 1rem;
      .title {
        font-size: 24px;
      }
    }

    .overview {
      grid-column: 1/2;
      grid-row: 1/2;

      border: none;
      padding: 0;
      h2 {
        font-size: 28px;
      }
    }

    .bio-age {
      grid-column: 1/2;
      grid-row: 2 / 4;

      border: none;
      box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.25);
    }

    .health-recom {
      grid-column: 1/2;
      grid-row: 8/9;

      border: none;
      box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.25);
    }

    .next-bio-age {
      grid-column: 1/2;
      grid-row: 9/10;

      border: none;
      box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.25);
    }

    .john-dyk {
      grid-column: 1/2;
      grid-row: 4/5;
      border: none;
      p {
        line-height: 24px;
      }

      .three-boxes {
        flex-direction: column;
        .box {
          margin: 5px 0 !important;
          .inner {
            padding: 20px 15px;
          }
        }
      }
    }

    .effect-of-smock {
      grid-column: 1/2;
      grid-row: 5/6;

      border: none;
      box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.25);
    }

    .compare-others {
      grid-column: 1/2;
      grid-row: 6/7;

      border: none;
      box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.25);
    }
    .bio-age-progress {
      grid-column: 1/2;
      grid-row: 7/8;

      border: none;
      box-shadow: 0px 0px 20px rgba(151, 151, 151, 0.25);
    }
  }
}

@media screen and (max-width: 575px) {
  .grid {
    .bio-age {
      .age-boxes {
        .box {
          padding: 10px;
          &:first-child {
            margin-right: 10px !important;
          }
          .title-wrapper {
            span {
              font-size: 14px;
            }
          }

          .circle {
            height: 130px;
            width: 130px;
            .inner {
              .age {
                font-size: 28px;
                line-height: 34px;
              }

              .label {
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
      }

      .age-gap {
        margin: 10px auto;
        .content {
          width: 40%;
        }
        h3 {
          font-size: 14px;
        }
        p {
          margin-top: 15px;
          margin-left: -30px;
          width: 220%;
        }
        .gap {
          align-self: self-start;
          margin-top: 10px;
          .number {
          }
        }
      }
      button {
        font-size: 14px;
      }
    }
    .compare-others {
      .chart {
      }
      .caption {
      }
    }
    .bio-age-progress {
      .chart {
      }
    }
  }
}
