<div class="banner">
  <div class="container">
    <h1 class="banner-title" i18n>Disclaimers</h1>
  </div>
</div>
<article class="container article-container">
  <p i18n>
    a) Links to other websites are simply for your convenience. Links chosen by
    you to view are at your own risk. Toku Eyes Ltd takes no liability for any
    linked sites or their content which may change without notice. Any link to
    another website does not imply that Toku Eyes Ltd endorses or accepts any
    responsibility for the content, safety, reliability, or quality of the
    materials. Be sure to study the privacy policies and other information about
    what, how and why a website may collect and use the information you provide.
  </p>

  <p i18n>
    b) Regular exercise is one of the healthiest habits you can form. But it is
    not always without risk, even for healthy individuals. Certain types of
    exercise are riskier than others, and all exercise is risky for some
    individuals. It is the same with diet. Some dietary recommendations are
    healthy for the majority of people but potentially dangerous to others. You
    are responsible for your own health and safety at all times. In no way
    should the exercise or dietary information which may be provided by Toku
    Eyes Ltd on a report or system shall replace or in any way interfere with
    the guidance given to you by a medical professional. If you fail to seek
    medical clearance or if you ignore medical advice, you do so at your own
    risk, and no one associated with Toku Eyes Ltd (its employees, directors,
    advisors, or partners) shall hold any liability for damage and/or injury
    caused.
  </p>

  <p i18n>
    c) The content of Toku Eyes Ltd’s system and report is for your information
    only, not advice or guarantee of outcome. Information is gathered and shared
    from reputable sources; however, Toku Eyes Ltd is not responsible for errors
    or omissions in reporting or explanation. No individual should use the
    information, resources or tools contained within to self-diagnosis or
    self-treat any health-related condition. Toku Eyes Ltd gives no assurance or
    warranty regarding the accuracy, timeliness or applicability of the content.
    Toku Eyes Ltd accepts no liability for errors, inaccuracies, omissions, or
    misleading statements. Toku Eyes Ltd excludes liability for any losses,
    demands, claims or damages of any kind regarding information, content, or
    services at this website. The information may be updated anytime, especially
    as medical discoveries and research evolve. At no time does Toku Eyes Ltd
    take any responsibility for any action taken or care chosen in reliance on
    information contained in this report or system.
  </p>

  <p i18n>
    d) This Biological Age Test does not provide medical advice. It is intended
    for informational and educational purposes only. The information contained
    herein is not a substitute for professional medical advice, diagnosis or
    treatment. Never ignore professional medical advice in seeking treatment
    because of something you have read or seen on our website. Toku Eyes Ltd
    will not be liable for any direct, indirect, consequential, special,
    exemplary, or other damages arising therefrom. If you think you may have a
    medical emergency, immediately call your doctor or dial 911. Carrying out
    this test does not establish a professional relationship with Toku Eyes Ltd.
    Any medical or healthcare-related decision should be made in consultation
    with your qualified healthcare provider.
  </p>

  <p i18n>
    e) Toku Eyes Ltd may process data derived from Personal Information that has
    been de-identified and/or aggregated to reasonably avoid the identification
    of a specific individual for research, development, analytics, and similar
    purposes.
  </p>
  <p i18n>Pg 3 of 3</p>
  <p i18n>Change your future, what’s your BioAge?</p>
</article>
