.banner {
  height: 133px;
  background-image: url("/assets/img/Rectangle 170.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .banner-title {
    font-family: var(--heading-font-family);
    font-size: 48px;
    line-height: 72px;
  }
}
.article-container {
  padding: 30px 15%;
  p {
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    height: 82px;
  }
  .banner-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
  }
  .article-container {
    padding: 30px calc(var(--bs-gutter-x) * 0.5);
  }
}
