<div class="section">
  <h2 class="section-title">How do you compare to others?</h2>
  <p class="section-description">
    Your BioAge is higher than X% of others of your sex and chronological age.
  </p>
  <div class="wrapper">
    <div class="img-wrapper">
      <div class="img-container">
        <app-girl-svg [color]="'#92C83E'" width="83"></app-girl-svg>
      </div>
      <div class="img-container">
        <app-girl-svg [color]="'#92C83E'" width="83"></app-girl-svg>
      </div>
      <div class="img-container">
        <app-girl-svg [color]="'#9BC31CA6'" width="83"></app-girl-svg>
      </div>
      <div class="img-container">
        <app-girl-svg [color]="'#9BC31CA6'" width="83"></app-girl-svg>
      </div>
      <div class="img-container">
        <app-girl-svg [color]="'#9BC31C66'" width="83"></app-girl-svg>
      </div>
      <div class="img-container">
        <app-girl-svg [color]="'#FBAD1880'" width="83"></app-girl-svg>
      </div>
      <div class="img-container">
        <app-girl-svg [color]="'#FBAD18'" width="83"></app-girl-svg>
      </div>
      <div class="img-container">
        <app-girl-svg [color]="'#FBAD18'" width="83"></app-girl-svg>
      </div>
      <div class="img-container selected">
        <app-girl-svg [color]="'#EF3E2D'" width="105"></app-girl-svg>
      </div>
      <div class="img-container ">
        <app-girl-svg [color]="'#EF3E2D'" width="83"></app-girl-svg>
      </div>
    </div>

    <div class="slider-wrapper">
      <ngx-slider [(value)]="value" [options]="options"></ngx-slider>

    </div>

  </div>
</div>
